[2015-02-09 23:10] caiogondim opened #1 "Implement time diff"

[2015-02-09 23:12] caiogondim opened #2 "Implement persistent ::disable and ::enable methods"

[2015-02-12 22:09] caiogondim opened #3 "Tests"

[2015-02-12 22:09] caiogondim opened #4 "IE support"

[2015-02-12 23:26] caiogondim opened #5 "Node.js support"
With
- warn
- log
- error

[2015-02-13 12:17] caiogondim opened #6 "Return an existing instance in case the prefix is already in use"

[2015-02-15 00:45] caiogondim opened #7 "Sanitize prefix and messages"
Should not contain %c

[2015-02-15 01:10] #6 closed

[2015-02-15 17:20] #7 closed

[2015-02-15 17:58] #3 closed

[2015-02-21 17:51] #5 closed

[2015-02-21 18:37] caiogondim opened #8 "Tests on karma runner"

[2015-03-14 23:37] #8 closed

[2015-03-15 00:11] #4 closed

[2015-03-15 00:12] caiogondim opened #9 "IE8 support"

[2015-03-15 11:33] caiogondim opened #10 "Configure karma runner on IE"

[2015-03-15 11:40] caiogondim opened #11 "Run tests on SauceLabs"

[2015-03-15 12:22] caiogondim opened #12 "Let colors on browser to be customizable"

[2015-03-16 12:39] caiogondim opened #13 "WebWorker support"

[2015-03-16 14:33] jcready opened #14 "Support logging of things other than strings"
Logdown logging of non-strings:

[code]

Compared to the built-in `console` object:

[code]

[2015-03-16 14:53] caiogondim commented on #14
Nice catch. Will work on it.

[2015-03-16 23:43] #14 closed

[2015-03-18 08:17] matthewoates commented on #13
+1

For reference, here's the hacky solution that I came up with:
https://gist.github.com/matthewoates/7dead5c35249fd6d8062

[2015-03-18 09:13] caiogondim opened #16 "Add OS X enviroment to Travis CI"

[2015-03-18 09:14] caiogondim opened #17 ""How to install from npm" on README"

[2015-03-18 09:15] caiogondim opened #18 "Align logs on node"

[2015-03-18 16:52] kcijeziefairsailcom opened #20 "Logdown in Angularjs"
How can I use this in Angugalrjs 1.2+ App??

[2015-03-18 19:03] hugobessaa opened #21 "Simplify use with transparent constructor"
It would be awesome if we could simply `var debug = require('logdown')({prefix: 'foo});` instead of having to call `new` on `Logdown`. I think browser-people used to use jQuery would also prefer `Logdown({prefix: 'foo'});`.

[2015-03-18 19:47] caiogondim commented on #21
I thought about it at first, but for me that way of instantiating objects is not explicit enough about what is happening.
And with ES6, `new` is becoming the default way of creating new objects again.

About jQuery, you can use it with or without `new`.
jQuery just protects you in case you forget t use `new`.

BTW, im using the same approach, as you can see [here](https://github.com/caiogondim/log

[2015-03-18 19:47] #21 closed

[2015-03-18 20:00] caiogondim commented on #21
And `require('logdown)({prefix: 'foo'})` works, also.

[2015-03-18 20:04] #17 closed

[2015-03-18 20:14] hugobessaa commented on #21
Thanks for the explanation :smile:

[2015-03-18 21:25] caiogondim commented on #21
Always here to help =)

[2015-03-19 21:24] caiogondim commented on #20
Can't you call `console.log` form Angular?
If so, it should be ok to use Logdown.

You tested?
Can you show some snippet of code so i can test?

[2015-03-21 14:25] sylido opened #24 "Color the actual logged text as well"
Is it possible to add color to the logged text as well, of course a slightly different color than the one of the prefix ?

Also, I just noticed that the prefix text isn't getting colored in the correct color, it's stuck on the yellow one, which is the first in the colors array as well...

[2015-03-21 16:12] caiogondim commented on #24
About adding color to the logged text, you mean the whole logged text, or just fragments?

And about the prefix getting stuck, can you send me a snippet?
Is it running on the browser or node?

[2015-03-21 16:27] caiogondim commented on #18
Abandoning this issue.

[2015-03-21 16:27] #18 closed

[2015-03-21 17:27] sylido commented on #24
Yeah I meant the whole logged text, I kind of did it myself in a semi-weird way and it seems to work - http://pastebin.com/gGhZBYRs - I added a stupid custom separator as well, just makes it clearer for me.

As for the prefix getting stuck, it was the browser version, tried with both the un-minified and minified one and both of them didn't change the color from the log one for me (chrome).

[2015-03-21 17:33] caiogondim commented on #24
Will try to reproduce that bug and work on it in a couple hours.

[2015-03-22 12:26] caiogondim commented on #24
I still can not reproduce your bug on a Mac.
Tried with Chrome, Safari and Opera.

But i just fixed a regression in the code, it was printing `undefined` at the end of every output.
Could you try it again and let me know if you still can reproduce the bug?

[2015-03-22 12:36] caiogondim opened #25 "Add CHANGELOG.md"

[2015-03-22 18:23] sylido commented on #24
Yeah, I was getting the undefined thing too, but I just added a quick check for notText being null or not.

Actually I had to use logdown for the server part as well and I got similar results there as well, I would do log/warn/error and the prefix stayed the same color so I had to tweak it there as well, to get the same result.

I'll try again with your updated version and see what's going on, I'm

[2015-03-25 13:33] caiogondim commented on #20
@kcijeziefairsailcom Still waiting a reply from you, so we can solve your issue.

[2015-03-25 13:49] kcijeziefairsailcom commented on #20
Hi Cai,

I got it working with angularjs but I keep getting 'undefined' along with the log message. See snippet below:

--------index.html--------
<html>
    <head>
        <title>Test App</title>
    </head>
    <body ng-app="testApp">
        <div class="nav" ng-controller="HomeController">
            <h1>{{ title }}</h1>
            <input type="text" ng-model="title" />
        </div>

[2015-03-25 14:22] caiogondim commented on #20
Can you double check if you are running the latest version?
I fixed that bug.

[2015-03-25 14:35] kcijeziefairsailcom commented on #20
Still there - demo 6 undefined from @version v1.1.1

[2015-03-25 23:27] caiogondim commented on #24
Just tried to reproduce the error here in Node and could not.
Could you please let me if you still have this error with the last version?

[2015-03-25 23:45] caiogondim commented on #25
Done in f6189bc580996821d8eaa8ab9b608db7fd399325

[2015-03-25 23:45] #25 closed

[2015-03-26 00:22] sylido commented on #24
So I tried both the src and dist versions - they produce the same output for me currently (this is the browser version in chrome) here is a [screenshot](http://imgur.com/mU1kaja). I do have the "don't cache" option enabled in the console, so I don't think it's caching my previous version.

I'm not getting full or different coloring for the 4 different type of logs, but you can see that I am gettin

[2015-03-26 18:35] caiogondim opened #28 "Migrate code style to standard"

[2015-03-26 18:43] caiogondim commented on #24
The bug should be fixed for now.

About the colors, you only get different colors for each different module.

You can see an example here: http://requirebin.com/?gist=f0edbf0ac509ee0a8350
Don't forget to open DevTools to see it running =)

Let me know if you still have some issues with the lib.
I'm here to make it bug free =)

[2015-03-26 20:06] sylido commented on #24
Ah, my bad then - I did see it correct this time, no undefined.

I guess the only thing left is to add the option of colorifying based on the method, and colorifying the whole text. But I guess that's not an issue :) Thanks for the help, will just modify the latest version !

Cheerio.

[2015-03-27 15:58] veremeenko opened #29 "Maybe I miss something but demo page does not work."
Demo page does not work in Chrome/IE10.

[2015-03-28 04:15] oliverzy opened #30 "Be able to enable/disable logger via environment variable/config file/local storage (Browser)"
It will be great that logdown can be configured via environment variable/config file/local storage (Browser)

[2015-03-28 11:18] caiogondim commented on #24
I want to keep the library as simple as possible, and Markdown itself does not have support for colors.

[2015-03-28 11:18] #24 closed

[2015-03-28 11:19] caiogondim commented on #24
Let me know about some eventual new bugs. Here to help.

[2015-03-28 11:19] caiogondim commented on #20
It should be fixed now in the 1.1.2 version.
Can you check again/

[2015-03-28 11:23] caiogondim commented on #30
That is a great idea and i will work on it.

For node.js will do through a enviroment variable.
For the browser will use local storage.

[2015-03-30 06:14] caiogondim commented on #30
Make it compatible with `util.debuglog` on Node.js 0.12

[2015-04-08 19:19] rscafi commented on #29
You need to open your dev tools on *docked* mode in order to the script detect it and start the demo.

[2015-05-06 15:07] caiogondim commented on #29
@veremeenko Could you confirm that the demo is working on IE10 with DevTools on docked mode?
So we can close this issue.

[2015-05-07 11:48] veremeenko commented on #29
![image](https://cloud.githubusercontent.com/assets/1991745/7514651/11215f48-f4c8-11e4-9b60-581794f6f9e3.png)

[2015-05-07 15:02] caiogondim commented on #29
Seems like a bug on https://github.com/sindresorhus/devtools-detect
Will investigate

[2015-05-15 15:59] juanmav opened #31 "Add Bower support"
It could be great if logdown has bower support.

Thanks
JM

[2015-05-16 13:30] caiogondim commented on #31
And it is done.
Can you test it through bower and let me know if everything is ok?

[2015-05-16 22:42] caiogondim commented on #30
Have still to add support to env var `DEBUG` to be compatible with [debug](https://github.com/visionmedia/debug) and localStorage support for the browser.

[2015-05-16 22:45] caiogondim commented on #30
Once everything is done i will release a new version and let you know

[2015-05-18 13:09] juanmav commented on #31
@caiogondim it is working great. Maybe you can make a git tag? So bower can download a fixed version of logdown.

[2015-05-24 07:07] nopantsmonkey opened #32 "Add typescript defination (.d.ts)"

[2015-05-26 22:09] caiogondim commented on #32
@nopantsmonkey I don't use TypeScript. Why it would be necessary?

[2015-05-28 00:53] mischah commented on #31
:+1: Using Git tags according to version numbers from package.json would be a great addition.
Because otherwise bower is installing always the latest version.

[2015-05-28 23:08] caiogondim opened #33 "Rename dist file"

[2015-06-16 15:37] caiogondim opened #34 "Documentation with Docco"

[2015-06-25 16:05] lzrski commented on #14
Hi and thanks for Logdown - it's really nice.

I'm still missing more expressive output for objects (including functions). It would be nice to have some insight into their properties, like when using `console.log`.

[2015-06-26 10:42] rictorres commented on #29
from https://github.com/sindresorhus/devtools-detect/issues/14

[2015-07-03 09:09] david-byng commented on #31
+1. ATM bower records `"logdown": "*"` on `bower install --save logdown` (meaning on install you will always get the latest commit on master, so people working on the project will end up with differing versions).

Bower does not use the version number in the json files, unfortunately.

[2015-07-07 21:49] caiogondim commented on #31
Maybe the issue was that i was not pushing the tags. I pushed all the tags now.
Would you mind testing?

[2015-07-14 09:29] caiogondim commented on #31
Just uploaded a new version.
Could you test and give me some feedback if everything is ok?

[2015-07-15 07:25] david-byng commented on #31
Yes, its working now, thank you :)

[2015-11-07 13:11] caiogondim commented on #32
Closing this issue due to no reply since May 2015

[2015-11-07 13:11] #32 closed

[2015-11-07 13:12] caiogondim commented on #20
@kcijeziefairsailcom Would you mind testing it again?

[2015-11-10 12:22] david-byng opened #38 "Escaping special characters"
[code]

rendersas

call the `foo\`_bar method on the quux\_`service` endpoint

[2016-04-03 21:45] caiogondim opened #39 "Upload favicon"
Upload favicon to prevent this error on example page:
![screen shot 2016-04-03 at 23 44 41](https://cloud.githubusercontent.com/assets/33044/14235153/1fec018e-f9f6-11e5-9535-d39e21cf1f6b.png)

[2016-05-02 20:35] caiogondim opened #40 "Create decorator"

[2016-05-02 20:35] #31 closed

[2016-05-02 20:36] caiogondim commented on #30
Closing this since it is already supported.

[2016-05-02 20:36] #30 closed

[2016-05-20 03:57] naivefun opened #41 "can track back to actual caller line number?"
Seems it  is printing where logdown.js is right now.

[2016-06-13 21:51] caiogondim commented on #39
Closed on d861f9e5ca6751ea37230c0c1cbdeaf605c1de60

[2016-06-13 21:51] #39 closed

[2016-06-13 21:52] caiogondim commented on #34
Abandoning.

[2016-06-13 21:52] #34 closed

[2016-09-29 10:11] bennyn opened #43 "Showing Dates / Timestamps for log entries"
I really like the `logdown.js` project but does it support timestamps in front of log messages?

[We](https://wire.com/) are looking for something that can replace our current log library which gives us these features:

![unbenannt](https://cloud.githubusercontent.com/assets/469989/18949920/c34baff4-863d-11e6-94e3-38116296f064.PNG)

[2016-09-29 12:15] caiogondim commented on #43
For timestamps in Chrome you can use this checkbox:
![sep-29-2016 13-49-43](https://cloud.githubusercontent.com/assets/33044/18953362/6086e79c-864e-11e6-8a61-420bd3f73f72.gif)

But that would work only in Chrome, not in other browsers or Node.js
We can implement this
Seems to be easy and straight forward

I'm thinking in an API similar to

[code]

Thoughts?

[2016-09-29 12:19] caiogondim commented on #40
Abandoning task

[2016-09-29 12:19] #40 closed

[2016-09-29 12:48] bennyn commented on #43
From the first view, I like having a date format like `'MM/DD/YYYY'`. One option I thought of is that `prefix` could accept also functions. Then people could write their own date mechanism, like:

[code]

[2016-10-22 14:16] caiogondim commented on #43
Like both ideas
1. `prefix` should accept a function
2. Output timestamp behind a flag

You mind crating issues for both so we can work on it?

[2016-10-24 10:05] bennyn opened #48 "Allow function for "prefix" property"
At the moment the `prefix` property of a `Logdown` instance must be a `string` value:

[code]

To enhance the flexbility of the prefix creation, it should be allowed to set `function` values too.

**Example:**

[code]

[2016-10-24 10:07] bennyn opened #49 "Support "timestamp" property"
It should be possible to force a `Logdown` instance printing it's logs together with a timestamp. It should be configurable by a  `timestamp` property like this:

[code]

[2016-10-24 10:08] bennyn commented on #43
I created the two issues:

1. https://github.com/caiogondim/logdown.js/issues/48
1. https://github.com/caiogondim/logdown.js/issues/49

From my side we can close down this issue here. WDYT?

[2016-10-24 10:15] bennyn opened #50 "Support logging objects"
With the Browser's console it's possible to log objects like:

[code]

Which will result into this output:

![unbenannt](https://cloud.githubusercontent.com/assets/469989/19641923/35a63188-99e3-11e6-9b3b-60d48a7eb2a7.PNG)

**logdown.js** unfortunately stringifies objects, so that they cannot be accessed via the Browser's console:

![unbenannt](https://cloud.githubusercontent.com/assets/469989/1964

[2016-10-24 14:07] caiogondim commented on #43
Closing

[2016-10-24 14:07] #43 closed

[2016-10-24 14:19] caiogondim commented on #41
At first I thought it was technically impossible, but it seems to not be the case http://stackoverflow.com/questions/13815640/a-proper-wrapper-for-console-log-with-correct-line-number

Will work on it

[2016-10-28 09:00] bennyn opened #53 "Maintain GitHub releases"
Current version of **logdown.js** is v1.3.1, but in the [GitHub releases](https://github.com/caiogondim/logdown.js/releases) we got stuck on v1.2.4.

We should be in sync. 😃

[2016-10-28 15:50] caiogondim commented on #53
Indeed
This is my bad

Care to fix it?

[2016-10-28 19:11] bennyn commented on #53
We can have the gap which we have now but for any future release we should be in sync. So just close this issue if you agree. 😃

[2016-10-28 19:34] #53 closed

[2016-11-11 09:50] batjko opened #58 "backticks reserved by es6"
Hi guys,

Since backticks are increasingly used by people moving to ES6, for all kinds of strings, could the _code_ formatting be changed to not clash with that?

Cheers.

[2016-11-11 23:19] caiogondim commented on #58
That is the markdown syntax
If we change from backticks to anything else we would not be markdown compatible

[2016-12-10 23:48] caiogondim opened #60 "Bypass commands to `console` if not present in `logdown`"

[2016-12-14 08:17] bennyn opened #63 ""alignOutput" doesn't work across different Logdown versions"
I have a webpacked module (`cryptobox.js`), which bundles my application together with Logdown.

In my main application I am loading this module and I am loading another Logdown via the `script` tag, to log inside my main application (because the bundled Logdown is not accessible from the outside).

Doing this I realized that the alignment is different:

![logdown](https://cloud.githubusercontent.

[2016-12-14 13:43] caiogondim commented on #63
I guess we should strive for simplicity.

Your use case seems odd for me.
You're using a bundle with Logdown and Logdown without a bundle?

Since you already have a bundle system and a Logdown inside the bundle, it's just a matter of exposing it globally.
Then you would share the same class.

I don't see value on having more than one class of Logdown in the same env.

[2016-12-14 14:38] bennyn commented on #63
Ok, accepted. 😄

[2016-12-14 14:38] #63 closed

[2016-12-20 09:56] bennyn opened #64 ""alignOutput" not working with debug statements, errors, infos & warnings"
There are log levels in **logdown.js** which render a symbol:

- `debug` → 🐛
- `error` → ✖
- `info` → ℹ
- `warn` → ⚠

When using the property `alignOutput`, then this leads to inconsistency (as the extra character for the symbol is not counted into `alignOutput`).

**Screenshot:**

![capture](https://cloud.githubusercontent.com/assets/469989/21345995/c0e43be6-c6a2-11e6-96af-64e146b265e1.PNG)

[2016-12-20 09:57] bennyn commented on #60
Is this about features like [Console.table()](https://developer.mozilla.org/de/docs/Web/API/Console/table)?

[2016-12-20 11:39] caiogondim commented on #60
Perfect 👍
So we don't need to switch between `console` and `logdown`

[2016-12-22 09:20] bennyn opened #65 "Rename "index.js" to "logdown.js""
Logdown's output for Bower is called `index.js`. When people execute `bower install logdown`, they get an `index.js` file out of the box, which need to be included the following way:

[code]

I think it would be nicer to have:

[code]

Especially if you have a Bower copy task which just dumps all files from "bower_components" into a flat hierarchy. This way logdown would not overwrite another libr

[2016-12-22 22:43] bennyn opened #66 "The "prefixColor" should be configurable"
It should be possible to set a fixed color for a Markdown logger, like:

[code]

[2016-12-22 22:50] bennyn opened #67 "Support global Logdown options"
It would be nice if you could set a preset for every newly created Logdown instance.

**Example:**

If I always want to have logger instances which don't render Markdown but align output, I should be able to do something like this:

[code]

This should be equivalent to:

[code]

[2016-12-22 23:08] bennyn commented on #33
@caiogondim Is this the same as https://github.com/caiogondim/logdown.js/issues/65 ?

[2016-12-22 23:10] bennyn commented on #11
@caiogondim Should we register for https://saucelabs.com/open-source ?

[2016-12-22 23:11] bennyn commented on #20
@kcijeziefairsailcom Could your problem be solved?

[2016-12-22 23:15] bennyn commented on #9
IE8 reached EOL: https://www.microsoft.com/en-US/WindowsForBusiness/End-of-IE-support - So we could close this issue?

[2016-12-22 23:38] bennyn opened #68 "Add different and extendable logging transports"
It would be nice if Logdown could write to log files.

The [atma-logger](https://github.com/atmajs/atma-logger) for example is able to write to the filesystem or to a remote server (via HTTP): https://github.com/atmajs/atma-logger#transports

There is also [winston](https://github.com/winstonjs/winston), a multi-transport async logging library. With `winston` logging transports can be changed the

[2016-12-22 23:43] bennyn opened #69 "Support for Microsoft Edge"
I just realized that Logdown looks a bit odd in Microsoft Edge v14 (the latest one). We should fix this. 💃

**Screenshot:**

![logdown](https://cloud.githubusercontent.com/assets/469989/21443878/c20812b0-c8a8-11e6-88bc-b8b43de50526.png)

[2016-12-22 23:49] bennyn commented on #29
@rictorres Thanks for tracking it down.

I checked [CustomEvent on caniuse.com](http://caniuse.com/#search=CustomEvent) and for IE11 it says:

Thus said, we could **make it work for IE11** (IE10 should be neglected in this case).

In Chrome v55 [Logdown's demo page](http://caiogondim.github.io/logdown.js/) works just fine for me. 😃

[2016-12-23 12:00] caiogondim commented on #67
I like the idea.

But we should have a getter and setter for this.

What you think about just exposing an object?

[code]

Then to change it, you could do:
[code]

Feels more idiomatic

And on https://github.com/caiogondim/logdown.js/blob/master/src/index.js#L62 we just do `Object.assign` before creating a new object.

[2016-12-23 12:01] caiogondim commented on #33
The same.
Closing this in favor of #65

[2016-12-23 12:01] #33 closed

[2016-12-23 12:02] caiogondim commented on #11
At the time the experience on setting SauceLabs was very bad.
We can try it again.

[2016-12-23 12:03] caiogondim commented on #20
Every issue with more than 30 days without reply will be closed.

[2016-12-23 12:03] #20 closed

[2016-12-23 12:04] caiogondim commented on #9
The reason I opened this issue is because in my previous job (a huge e-commerce) we had to support IE8.
Closing it.

[2016-12-23 12:04] #9 closed

[2016-12-23 12:22] caiogondim commented on #68
I like the idea a lot.

I would make as simple as possible, using an array that is a collection of functions that will be called on every `logdown` method.

[code]

My proposal for the API:

- Adding transport

[code]

- Removing transport
[code]

- List transports
[code]

Don't think we should provide any custom transport function, since they are super easy to implement.

[2016-12-23 12:23] caiogondim commented on #69
Seems we have to detect if the browser supports styling on `console`

[2016-12-23 12:30] caiogondim commented on #66
Yes, makes a lot of sense.
The only caveat here is on supporting Node.
Don't think you can pass a HEX color to it.

[2016-12-23 13:37] bennyn commented on #69
Maybe we can get some ideas here: https://github.com/icodeforlove/Console.js

[2016-12-23 13:41] bennyn commented on #11
I have a SauceLabs Karma configuration somewhere... Will report back once I found it. Maybe it helps setting it up.

I also like BrowserStack pretty much (we use them at [Wire](https://wire.com/)). We can apply there for "Open Source": https://www.browserstack.com/contact?ref=open_source#sales

[2016-12-23 13:48] lipis commented on #65
Makes more sense..

[2016-12-23 16:19] caiogondim commented on #65
Agreed!
Care to make a PR?

[2016-12-23 16:24] caiogondim commented on #50
Created a PR for it.
Can you review and merge if it's ok?

[2016-12-23 16:27] bennyn commented on #50
Uuuuh, I am very eager to test it! Let me just wrap a few more Christmas presents for my family and then I will test it. 😃 🌈

[2016-12-23 16:34] caiogondim commented on #50
No worries.
Frohe Weihnachten. 🎄 🎅

[2016-12-23 16:55] caiogondim commented on #49
How do you see the output with this option on?

Like this?
[code]

[2016-12-23 17:31] caiogondim opened #72 "RFC: 2.0 API"
Using the same idea as [debug for their V3 release](https://github.com/visionmedia/debug/issues/370), let's discuss ideas for our V2 release.

My current ideas are:

- **Move test suite to Jest**
I don't see value on using Karma and just test if the methods were called with the right values.
Moving to Jest should make everything faster and more straight forward.

- **Use static typing (Flow type o

[2016-12-24 12:08] heldr commented on #72
How SEO could affected since github 301 redirect previous routes?

[2016-12-29 12:59] bennyn opened #73 "Source Maps"
I realized that we don't distribute a source map file (`dist/logdown.js.map`). For proper debugging we should offer this.

[2016-12-29 15:40] caiogondim commented on #73
Agreed.

Should we move this to [RFC for 2.0](https://github.com/caiogondim/logdown.js/issues/72)?

[2016-12-29 15:42] caiogondim commented on #72
@heldr Good point. So, no fear regarding this topic =)

[2017-01-06 14:44] bennyn opened #75 "Documentation"
In a Pull Request we discussed the usage of GitHub wiki pages. Because wiki pages are specific to GitHub we had the idea of using Markdown files within the repository to describe how to use Logdown and how to do things like deploying a new Logdown version, etc.

I just found this service http://documentup.com/ which could be nice in finding the right headlines for our Markdown files. Here is what

[2017-01-10 11:00] bennyn commented on #12
Seems to be the same as https://github.com/caiogondim/logdown.js/issues/66 ?

[2017-01-10 11:03] bennyn commented on #66
It would be also nice to have something like `prefixColor: false` to turn off colors completely.

At [Wire](https://wire.com/) we use Selenium which tests our application and returns a log result of the JavaScript output from our test run. Because the log results can't show colors we get logs from Logdown like this:

[code]

There are these `%c` characters which could be avoided if colors can be t

[2017-01-10 15:04] caiogondim commented on #66
Makes sense as well.

My idea for this feature:

`prefixColor` should accept a HEX value.
The library should do the work to figure out the value on Node.

If `prefixColor === false`, we don't decorate it with color.
Should output the raw string.

Thoughts?

[2017-01-10 15:08] caiogondim commented on #12
Indeed. Closing this one since it's a duplicate.

[2017-01-10 15:08] #12 closed

[2017-01-10 15:11] bennyn commented on #66
You wrote exactly what I thought. 👍

[2017-01-12 21:01] #50 closed

[2017-01-17 15:51] #65 closed

[2017-01-18 13:53] kennynaoh opened #79 "could you change the name about the minified file"
Hello @caiogondim I am the member of cdnjs project. We want to host this library. I found that there is a file `logdown.js`. Could you want to change the name to `logdown.min.js`? Thanks!

https://github.com/cdnjs/cdnjs/issues/10272

[2017-01-18 15:12] caiogondim commented on #79
Guess we should deliver a normal and minified version:
- `logdown.js`: not minified
- `logdown.min.js`: minified

@bennyn What you think?

[2017-01-18 15:15] bennyn commented on #79
Yupp! Let's provide a `.js` and a `.min.js` (with `uglify`). Thanks @kennynaoh for reaching out to us!

[2017-01-19 03:56] kennynaoh commented on #79
Thank you guys, let me know if it has a correct naming scheme.

[2017-01-19 13:03] bennyn commented on #79
@caiogondim We also need to make sure that our `bower.json` file points to the unminified version (https://github.com/bower/spec/blob/master/json.md#main) because currently it points to the minified version which is against the Bower guidelines: "Do not include minified files".

[2017-01-19 23:21] bennyn commented on #1
What do you mean by "time diff"? A feature like this one (measuring the time spent between log calls)? https://github.com/visionmedia/debug#millisecond-diff

[2017-01-19 23:21] bennyn commented on #28
Which code style standard?

[2017-01-19 23:25] bennyn commented on #75
As discussed in https://github.com/caiogondim/logdown.js/pull/76, we will most likely go for https://www.gitbook.com/

[2017-01-20 13:42] #73 closed

[2017-01-20 13:42] #79 closed

[2017-01-20 13:45] caiogondim commented on #1
That's it. 👍

[2017-01-20 13:47] aboyer1013 opened #82 "Logging levels"
Would like to have the ability to toggle logging based on level.

[code]

[2017-01-20 13:48] caiogondim commented on #28
[standard](https://github.com/feross/standard) itself 😅

[2017-01-20 14:07] bennyn commented on #79
@kennynaoh We got it! :) https://github.com/caiogondim/logdown.js/tree/master/dist

[2017-01-20 14:39] bennyn commented on #16
We agreed on testing Linux only.

[2017-01-20 14:39] #16 closed

[2017-01-20 15:34] caiogondim commented on #79
@kennynaoh Let's know when you have `logdown` on your CDN, so we can make some PR about it as well 😄

[2017-01-24 11:23] bennyn commented on #11
FYI: I just wrote to BrowserStack and asked if they are willing to support us.

I also found a Karma configuration file where I had BrowserStack setup & running, so we can get up to speed with BrowserStack very quickly:
https://github.com/bennyn/chacha20-js/blob/bb5b4bdea9d02921a7218674a95989b4e69791d5/conf/grunt/options/nightwatch.js

[2017-01-24 12:55] caiogondim commented on #11
I'm still thinking about moving to Jest and forget about E2E testing.

[2017-01-24 12:58] bennyn commented on #11
Ok. I have to check what's so special about Jest. How does it run tests on Browser engines? Does it use an approach like [PhantomJS](http://phantomjs.org/)?

[2017-01-24 14:16] caiogondim commented on #11
It does not run.
We would ditch end-to-end testing and test only correctness (expectations) of algorithm.

The way we are testing don't bring much safety, since we only test if `console.X` was called with the right amount of arguments. That can be done with Jest and is much more simpler.

[2017-02-03 14:32] bennyn commented on #72
This topic is very exciting and would like to give my comment. 🐇

## Move test suite to Jest

Moving to Jest should make everything faster and more straight forward.

I don't know much about Jest but I am very experienced with Karma. Does Jest offer to test Logdown in different browser environments? Because Logdown's output is heavily depending on the browser's console implementation. I see it as

[2017-02-07 14:34] caiogondim commented on #72
# Move test suite to Jest
What we are actually testing with Karma right now is if a given method was called with the expected arguments. We cannot test if the actual colors were printed.
What I like about Jest is that is simple.

# Use static typing (Flow type or Typescript)
Not on the top of things we should do, IMHO, since the library is relatively small.
But a nice to have.

# Modularize code
W

[2017-02-08 13:35] caiogondim opened #84 "Support redux-logger"
Currently logdown cannot be used with [redux-logger](https://github.com/evgenyrodionov/redux-logger)

[2017-02-08 13:51] #58 closed

[2017-03-12 07:10] caiogondim commented on #28
Done

[2017-03-12 07:10] #28 closed

[2017-03-12 07:11] caiogondim commented on #11
Ditching this tasks

[2017-03-12 07:11] #11 closed

[2017-03-12 07:11] caiogondim commented on #10
Ditching this idea

[2017-03-12 07:11] #10 closed

[2017-03-12 07:12] caiogondim commented on #1
Ditching this idea

[2017-03-12 07:12] #1 closed

[2017-04-27 17:00] ataft commented on #41
The [demo ](https://caiogondim.github.io/logdown.js/)seems to do this. Is this coming soon?

[2017-04-27 17:45] caiogondim commented on #41
I checked the demo and it seems to be wrong as well.
Which browser did you checked?

[2017-04-27 18:04] ataft commented on #41
Just checked again and you're right, it is wrong. It was showing me index.html, but given that I can't reproduce it I'll just chalk it up to user error.

I'm trying to decide between this api and [loglevel](https://github.com/pimterry/loglevel). Loglevel shows the actual caller line number and also lets you set the level, but I like your api better with the other features. Caller line level is a m

[2017-04-27 18:06] caiogondim commented on #41
If loglevel can do, we can do as well :)
Will investigate on how they did it.

[2017-04-27 18:50] ataft commented on #82
I really need this too. Maybe add 'trace', and then follow the same order as the loglevel api. Perhaps it would look something like this:

//Globally for all prefixes
logdown.setLevel('info');

//for a single prefix
const logger = logdown({ prefix: 'foo', level: 'info' });

[2017-04-27 19:33] caiogondim commented on #82
### To disable methods per instance:
[code]

[2017-04-27 19:34] caiogondim commented on #82
I don't think we need more API for this.
But, at the same time, we think we should have documentation for  common scenarios like this.

[2017-04-27 19:38] caiogondim commented on #82
Done: https://github.com/caiogondim/logdown.js/blob/master/readme.md#recipes

[2017-04-27 19:39] caiogondim commented on #82
@ataft I will add the `trace` method as well.

[2017-04-27 19:39] caiogondim commented on #82
Since it can be done with pure JS, I will close this issue.

[2017-04-27 19:39] #82 closed

[2017-04-27 19:40] caiogondim opened #87 "Add `trace` method"
Reference: https://github.com/pimterry/loglevel

[2017-04-27 21:23] ataft commented on #82
Perfect, thanks!

[2017-04-27 21:30] ataft opened #88 "Logging only an object doesn't display correctly"
For example, the following two lines result in the image below (Browser: Chrome 57.0.2987.133):
[code]
![image](https://cloud.githubusercontent.com/assets/11670864/25505222/bd973066-2b55-11e7-880f-4d0c3cbd1274.png)

[2017-04-28 00:45] caiogondim commented on #88
I thought I have fixed that.
It's fixed on a branch I have for v3.
When I upload it I will update it here as well.

[2017-05-04 22:30] gregjmcdonald commented on #88
+1

[2017-06-16 06:06] jamrizzi commented on #66
Nobody has fixed this yet??? I think I might do a pull request.

[2017-06-16 07:45] bennyn commented on #66
@jamrizzi Please do, we would really appreciate that!! 😃

[2017-07-04 18:26] caiogondim commented on #88
This was fixed on v3

[2017-07-04 18:26] #88 closed

[2017-07-04 18:27] caiogondim commented on #72
v3 is published.
- Modular code
- Compatible with `debug` and `util.debuglog`
- Jest for testing

[2017-07-04 18:27] #72 closed

[2017-07-04 18:28] caiogondim commented on #69
Can you please re-test?

[2017-07-04 18:31] caiogondim commented on #66
`prefixColor` now accepts HEX values for Node and browser.
Will work on a feature to disable completely decoration, in case you want to log to a file or a console without color support.

[2017-07-04 18:32] caiogondim commented on #48
Why cant you do `logdown('foo', { prefix: (new Date().toISOString() + ' MyLogger') })`

[2017-07-04 18:32] caiogondim commented on #48
Since this function will only be evaluated once (at instantiation time), you can already pass the computed value.

[2017-07-04 18:33] caiogondim commented on #60
Already implemented.

[2017-07-04 18:33] #60 closed

[2017-07-04 18:33] #2 closed

[2017-07-04 20:08] jamrizzi commented on #66
Thanks :)

[2017-07-04 20:47] bennyn commented on #66
@caiogondim is nailing it today! Great work. Thumbs up! 👍

[2017-07-12 19:31] aga5tya opened #89 "Script cannot run due to "unsafe-eval" when CSP security directives are set."
First off,, nice library you got here for logging needs. 👍

I have an issue, probably related to only my scenario, since i have CSP directives that avoid unnecessary eval, the below part of the code doesn't execute and library doesn't load.
https://github.com/caiogondim/logdown.js/blob/master/src/util/get-global.js#L4

[code]
Any specific reason why eval was chosen to get the global window object?

[2017-07-12 19:52] caiogondim commented on #89
The library works for the browser and Node.
That was a hacky way to always get the global object on both envs.

But happy to change it if you have a better idea.

[2017-07-13 19:24] #89 closed

[2017-07-13 19:25] caiogondim commented on #89
v3.0.1 released
https://www.npmjs.com/package/logdown

[2017-07-14 03:52] aga5tya commented on #41
I'm in need of this since most logs are in try-catch for me. @caiogondim Any pointers or info on what was tried,, i will try and make it work similar to loglevel or other libs

[2017-07-17 12:12] aga5tya opened #91 "[Query] Color support in vscode terminal"
I don't seem to get the color format supported on the terminal inside vscode possibly due to the [condition](https://github.com/caiogondim/logdown.js/blob/master/src/util/is-color-supported/node.js#L2) always returning true. Sorting all the falsy conditions to below fixes for me.

@caiogondim let me know if pushing falsy conditions down is the right approach.

[2017-07-17 15:42] #91 closed

[2017-07-17 15:48] caiogondim commented on #41
Please do a proof of concept and report your findings here.
If someone did it already, we sure can as well :)

[2017-07-25 06:07] aga5tya commented on #41
@caiogondim., I couldn't achieve since the lib gotta parse/format the messages before handing the value/arguments to console object. I'm not sure if the said is possible, since at present loglevel works since it just adds some functionality like enabling and disabling loggers and returns the bound console functions themselves. Hence when invoked, it directly does on console object and properly sho

[2017-07-25 07:28] aga5tya commented on #41
The other thing i can't get to work is the sourcemaps in error stack, anyone has luck with it ? Source maps are enabled with webpack.

[2017-07-25 12:54] michaelzoidl commented on #84
Its not that hard, just make a new middleware for redux and log the action (or whatever you want log, just grab the info you get by the middleware.

[code]

And the add it to the `applyMiddleware` part
[code]

[2017-07-28 14:57] caiogondim commented on #84
Indeed. Im closing this thread as I'm more willing to create a redux logger myself.

[2017-07-28 14:57] #84 closed

[2017-09-21 09:41] SleepWalker commented on #68
@caiogondim Looks good, but it would be better to pass not only the formatted `msg`, but the raw one too, because the transports,won't most likely support all that cute coloring. The log level and logger instance name should be useful too.

Something like this:

[code]

[2017-09-21 15:01] caiogondim commented on #68
@SleepWalker Agreed!

Seems we are good to implement this.
Anyone up to it? @SleepWalker @bennyn
We can pair if you fancy it.

[2017-09-21 17:38] SleepWalker commented on #68
Ok, I can create PR.

One more thing about API. Would it better to make a method? Something like this:

[code]

I think the methods is better, because they hide implementation details and make code more flexible.

[2017-09-21 17:41] caiogondim commented on #68
I like your idea, but what you're proposing IMHO is an interface similar to something we already have: Arrays.
I would make it super-simple, just an Array of objects.

[2017-09-21 17:58] SleepWalker commented on #68
Ok, I won't be arguing :) My point was, that mutation of public property is a little bit bad smell. I know, that this property is simple stupid, but nevertheless.

I, actually love the last syntax, because you do not traverse internals of the object isntance.

And one more thing, in your example, you are aware, that there are other transports beside the added one. And this things with slice... You

[2017-09-21 18:08] caiogondim commented on #68
Nah, we are here to try to come up with the best idea :)

We can use `get` and `set`, so it's transparent for users of the library.

And one more thing, in your example, you are aware, that there are other transports beside the added one. And this things with slice... You can not guaranty, that the transport you've added is still at index 1 (however if you'll delegate transport removal to client c

[2017-09-21 19:02] SleepWalker commented on #68
Ok. Let's try that :) Actually I was sold on the point, that the lib will be a little bit smaller. It is nice, when logging lib is lightweight

[2017-09-22 09:16] bennyn commented on #68
Really happy to see that this issue get's an uplift! 😃

For reference, here is how [winston](https://github.com/winstonjs/winston) does multi-transport handling:

[code]

[2017-09-27 06:42] SleepWalker commented on #68
Hi, I've created #93. Please look if it is ok.
I've also fixed a bug, where you have created facade around non-function properties of logger

[2017-09-27 08:15] SleepWalker commented on #68
One more thing. As for now, I'm calling transports only if `state.isEnabled === true`, but in reality you, probably, need a little bit different behavior. On production I'd probably need:

* disable console output, but with an opportunity to enable it, when I need to debug
* use transport, to forward all `error` and `warn` to e.g. sentry, disregarding whether the console output is on

To achieve t

[2017-09-27 14:52] caiogondim commented on #68
IMHO, If an instance is disabled, we should make it "dorment".
Doing the opposite would make it confusing.

I can see that use case being common as well.
For that I would propose monkey-patching the logger methods.

[code]

[2017-09-27 17:50] SleepWalker commented on #68
we could pass isEnabled as an additional prop in transport and the the transport may look like this:

[code]

or we can allow extended configs for transports, e.g.:

[code]

the usage of `function` for isEnabled may allow dynamically on/off loggers. But this is probably overkill and won't be useful in real applications.

btw. I've forgot, that loggers like raven expect message + some context. In t

[2017-09-27 18:24] SleepWalker commented on #68
A little bit more thoughts:

* For debug (in dev or prod env) you want to be able to enable logging in console and optionally control verbosity through instance filters.
* For production logging you want the logging to be on, even if there is nothing set in localStorage or NODE_DEBUG. But you want to restrict logging to some specific levels (warn, error, etc)

Levels you can currently control in t

[2017-09-27 18:31] caiogondim commented on #68
If you want to control which methods should print or not, you should monkey-patch since it's not the default behavior: https://github.com/caiogondim/logdown.js/blob/master/doc/faq.md#disabling-one-method-on-an-instance-at-runtime

Is that what you meant?

[2017-09-27 18:52] SleepWalker commented on #69
still no changes.
The problem, that edge pretends to support -webkit styles. This true for edge too:

[code]

Browser test should be updated to the one, based on `navigator.vendor` (https://stackoverflow.com/a/12625944) or `(/WebKit/.test(navigator.userAgent) && !/Edge/.test(navigator.userAgent))`

[2017-09-27 19:25] SleepWalker commented on #68
The point form FAQ is not enough flexible. We won't be able to control levels depending on transport. I think, that this is quite important thing for transports feature.

We can delegate levels filtering to transport function (actually, it is currently delegated in my PR), but in order to allow full transport control we need delegate `isEnabled` too (see the first snippet in my previous comment).

[2017-09-29 17:46] caiogondim commented on #68
Like your idea of passing `isEnabled` as an argument.
For better extensibility, I would pass the whole `state` from (which today has only `isEnabled`.

[code]

[2017-09-29 22:43] bennyn opened #94 "Switching to TypeScript"
One of the reasons why I chose logdown was that it has type definitions which makes it a great choice when using TypeScript. With logdown v3 the type definitions got removed and thus this project is not very user-friendly for TypeScript developers.

Because I ♥ TypeScript I suggest to upgrade the logdown code base to TypeScript. It's not much code that needs to get translated and I can help with i

[2017-09-30 09:15] SleepWalker commented on #68
I've pushed all the updates and readme into the #93

[2017-10-06 19:27] patrickpietens opened #95 "Safari not working"
Hey guys,

I love logdown.js and I use it a lot in my project. I just upgraded to the latest version. But unfortunately it isn't working anymore in Safari.

Opening https://caiogondim.github.io/logdown.js/ in Safari shows the following error:
[code]

[2017-10-06 20:24] caiogondim commented on #95
Thanks for the bug report, Patrick.
I’m travelling right now and will take a look on it tomorrow at home.
Should be a simple fix.

[2017-10-06 20:58] patrickpietens commented on #95
No problem at all! And take your time. I appreciate the time and effort you put into the project. And let me know if I can help.

Btw.
I'm using version 3.0.2 for now. Which is working.

[2017-10-07 22:56] caiogondim commented on #95
I was testing the URL `https://caiogondim.github.io/logdown.js/` in Safari v11 on macOS and it works fine for me.
What platform are you testing in?

[2017-10-07 23:03] caiogondim commented on #68
Replicating here what I said on #93.
We need to push a new version. It's a minor version since we (you) added a new feature with backward compatibility 🎉

What's your npm username?

[2017-10-08 07:50] patrickpietens commented on #95
I'm still on Safari Version 9.1.2 (11601.7.7). I didn't want to update because of Wacom/Sierra problems. So maybe it's not worth your time to invest in this bug. Or I can have a look at it later. Let me know.

[2017-10-08 14:33] SleepWalker commented on #68
@caiogondim the same as here, but lowercased **sleepwalker** (https://www.npmjs.com/~sleepwalker)

[2017-10-09 15:28] caiogondim commented on #68
Just added you on npm.
You have publishing rights now.

To publish we run the tests, and then:
[code]

Then we need to make a release on GitHub as well.

Let me know if you need some help.

And welcome to the team 🎉

[2017-10-09 15:30] caiogondim commented on #95
It should work on Safari 9 as well.
Since I don't have an old Safari here,I will take a look on IE11, it might be broken there as well.

[2017-10-09 18:57] patrickpietens commented on #95
@caiogondim Let me know if I can help

[2017-10-09 19:09] caiogondim commented on #68
Just removed some ES6 from the code, since it was breaking older browsers.

[2017-10-09 19:12] caiogondim commented on #94
My main concern regarding that is that we "lose control" over the final bundle.
Bundle size for a frontend library is important, and I don't see much value on switching to TS on such a small lib.

Even though I think we should provide the type definitions since TS is very popular.

@bennyn Can you make a PR for type definitions? :)

[2017-10-09 19:12] caiogondim commented on #94
Or maybe we can use JSDoc for that https://github.com/Microsoft/TypeScript/wiki/JSDoc-support-in-JavaScript

[2017-10-09 19:13] caiogondim commented on #95
Can you retry running https://caiogondim.github.io/logdown.js/ on your Safari?
I removed ES6 code.

[2017-10-09 20:40] patrickpietens commented on #95
Still getting the same error 😞 I'm in a middle of a release right now. But I will have a look at the code later and do a PR to fix this issue.

![screen shot 2017-10-09 at 22 38 48](https://user-images.githubusercontent.com/132625/31357602-b49efe66-ad42-11e7-9425-172d6e8623d9.png)

Thnx for your time and effort so far.

[2017-10-09 21:23] caiogondim commented on #95
Try again.
I deleted a lib to detect if devtools was open or not.
Was causing an infinite loop on IE11.

http://caiogondim.github.io/logdown.js/

[2017-10-09 21:24] caiogondim commented on #95
It's working on IE11 now.

[2017-10-10 04:59] SleepWalker commented on #68
Ok. Thank you. I'll look at the evening.

BTW. Would it better to add Babel? And what browsers do we support?

On Oct 9, 2017 22:09, "Caio Gondim" <notifications@github.com> wrote:

[2017-10-10 09:58] patrickpietens commented on #95
Still no luck 😞

Like I said, I can help you somewhere next week. And thnx again for the time and effort. I really appreciate it and I know how annoying it can be when someone keeps telling you something still not working. Sorry for being that person.

Btw.
As an os contributor you can get a free browserstack account 👍

[2017-10-10 13:45] bennyn commented on #68
@SleepWalker **Great contribution!** Thanks for your efforts and welcome to the team! :tada:
I sent you an email. Maybe we can meet over a beer in Kiev. 🍻 😃

[2017-10-10 14:28] caiogondim commented on #68
The reasoning for not adding babel is the same for TypeScript: bundle size
This is a small lib, don't think we would benefit a lot using Babel.

[2017-10-10 14:59] caiogondim commented on #95
That would be nice.

It should be a silly mistake that we can patch.
If you can send me a stack trace I should be able to send a fix.

[2017-10-10 17:59] caiogondim commented on #68
@SleepWalker Waiting for your release to merge https://github.com/caiogondim/logdown.js/pull/97 😄

[2017-10-10 17:59] caiogondim commented on #95
Guess I fixed that.
Just waiting a release to merge the PR https://github.com/caiogondim/logdown.js/pull/97

[2017-10-10 18:00] caiogondim commented on #95
I was able to reproduce with an old Android.

[2017-10-10 21:01] caiogondim commented on #29
It should work now on IE11.

[2017-10-10 21:01] #29 closed

[2017-10-10 21:01] caiogondim commented on #41
Closing this issue since we don't have a proof of concept.
If we have it, I would be more than happy to implement it.

[2017-10-10 21:02] #41 closed

[2017-10-10 21:02] caiogondim commented on #48
@bennyn You cool if I close this issue?

[2017-10-10 21:33] #66 closed

[2017-10-11 01:38] caiogondim commented on #68
@SleepWalker Sorry, I had to push a new release because of a crazy bug on Samsung Browser that was breaking on staging at the office 😢

https://github.com/caiogondim/logdown.js/releases/tag/v3.2.0

[2017-10-11 01:38] #68 closed

[2017-10-11 01:39] caiogondim commented on #95
Guess I fixed your bug.
Can you try to replicate again?

[2017-10-11 01:39] caiogondim commented on #95
Made a new release: https://github.com/caiogondim/logdown.js/releases/tag/v3.2.0

[2017-10-11 05:22] SleepWalker commented on #68
Oh, it's okay :+1:
I'll add new commits :D

[2017-10-11 08:56] patrickpietens commented on #95
@caiogondim It works!!!!!1 Thnx mate <3

[2017-10-11 14:50] #95 closed

[2017-10-11 14:52] caiogondim commented on #68
Do it :)
Just ping me if you need some help.

[2017-10-11 19:34] SleepWalker commented on #29
it works after you refreshing the page with dev tools opened.

![bs_win10_ie_11 0](https://user-images.githubusercontent.com/2536916/31462131-3e31e3ea-aed4-11e7-99fb-5b366aac9882.jpg)

[2017-10-12 21:29] SleepWalker opened #99 "Switch to eslint and prettier"
Let's do that!

I'm not agree with the rules, that standard js dictates, but this is another story. The reason why I suggesting this is because eslint + prettier will produce match more better dev experience. Standardjs has a slogan 'No decisions to make', but that is really not true.

If you look at standard docs or the code of logdown you will see eslint comments everywhere. So we are know exact

[2017-10-13 00:00] caiogondim commented on #49
Closing this since DevTools and most terminal apps already have this feature.

[2017-10-13 00:00] #49 closed

[2017-10-13 01:59] caiogondim commented on #94
Just made a small exp with JSDoc + TypeScript: https://github.com/caiogondim/parse-price.js/blob/master/src/index.js

This way we gain type annotations and don't lose control from final output.

[2017-10-13 08:19] bennyn commented on #94
**Uh, great!** I didn't knew that TypeScripts can read types from JSDoc out of the box.

At [Wire](https://wire.com/) we did some experiments with [tsd-jsdoc](https://github.com/englercj/tsd-jsdoc). But we had to use a special version to make it work: https://github.com/wireapp/proteus.js/blob/v5.2.0/package.json#L14

[2017-10-13 14:41] caiogondim commented on #94
I did some more reading on this regard, because I want to implement here at work but without transpilation (so we can deliver a as-is JS file for modern browsers).

TypeScript with JSDoc supports only a subset of TypeScript.
With Flow we can do the same approach and get 100% features.
I would go with Flow.

But honestly, for this lib, I wouldn't implement neither of them.
Tests should be enough an

[2017-10-13 14:41] caiogondim commented on #94
Should we close this issue and create one providing the typings for logdown again? 😉

[2017-10-13 14:51] caiogondim commented on #99
I don't have hard feelings regarding this.
But I would rather work on smashing bugs, making the lib faster, making it more reliable :)

But if you feel in the mood of working on it, go for it 👍
I vote for merging.

[2017-10-16 06:05] SleepWalker commented on #94
If you'll use `flow`. You can use `babel` plugin, that will only strip type annotations from source code leaving the rest as it was before.

I agree, that such small lib can live without static typing, but I love, when they are present in code :)

Regarding `chose logdown was that it has type definitions`. This things can be provided without covering the entire code base with type annotations if I

[2017-10-16 17:43] caiogondim commented on #94
Since TypeScript is getting more and more popular, guess we should provide a `.d.ts` file.

[2017-10-19 13:59] caiogondim opened #100 "Not possible to escape characters"
Not possible to escape characters:
[code]

[2017-11-18 18:38] voznik commented on #94
hello. is there any update on when you can provide a `*.d.ts` file for Typescript?

[2017-12-19 14:35] 5angel commented on #48
@caiogondim

Because it doesn't work?

I can't seem to find any indication in the source code that `prefix` should behave like that.

[2017-12-20 20:17] caiogondim commented on #48
If you do use a getter it should work and we don't need to implement anything in the library.

[code]

You feel we need docs for it?

[2017-12-20 20:18] caiogondim opened #101 "Migrate build task to microbundle"

[2017-12-20 20:26] 5angel commented on #48
@caiogondim absolutely. I bet many people just add timers to all log calls right now.

[2017-12-20 20:33] 5angel commented on #48
@caiogondim uhm, you sure it works? I tried the following code and it doesn't work.

[2017-12-20 20:36] caiogondim commented on #48
Let me try.

[2017-12-20 21:17] caiogondim commented on #48
@5angel Can you review the PR https://github.com/caiogondim/logdown.js/pull/102 ?

[2017-12-20 21:40] 5angel commented on #48
@caiogondim yup, we'll need to think more about this tho

[2017-12-21 09:47] 5angel commented on #48
So as I said in #102

It may be as well be called `prepend`.

[2017-12-25 13:17] bennyn opened #103 "No output on Node.js"
Today I tried to use logdown v3.2.2 but when running my script I don't see log output from logdown. Am I doing something wrong?

[code]

**Screenshot**

![Screenshot](https://user-images.githubusercontent.com/469989/34340118-46a60cd8-e97e-11e7-974f-c588eba2ea09.png)

**Runkit**

- https://runkit.com/bennyn/59feff09617b520016eb4221

[2017-12-25 18:24] bennyn commented on #99
@lipis, do you have a Prettier template ready? This lib could need your help. 🙂

[2017-12-26 11:40] lipis commented on #99
@bennyn here you go: #104 :)

[2017-12-26 11:43] lipis opened #105 "Install dependabot"
https://dependabot.com

Greenkeeper is cool, but dependabot is better ;)

[2017-12-28 20:23] bennyn commented on #103
@SleepWalker Do you have an idea why this happens?

[2017-12-29 07:25] SleepWalker commented on #103
Hi, @bennyn. This is because you haven't set `DEBUG` or `NODE_DEBUG` env var (e.g. `$ DEBUG=* node ./index.js`). As I know this currently expected behavior.

You can try the following snippet to see the difference:

[code]

I think, we can discuss this behavior if it seems to be not that clear or expected

[2018-01-08 13:11] bennyn commented on #103
Thanks @SleepWalker for clarification! I'm very surprised that a `DEBUG` environment variable needs to be set beforehand. Is that there to mimic the behaviour of [debug.js](https://github.com/visionmedia/debug)?

I mean, the code clearly says that a logger should be created which logs to the `console` output and with logdown v2.2.0 I was able to log things without setting an env var and I really l

[2018-01-08 14:31] SleepWalker commented on #103
@bennyn yep, the behaviour was changed in magor version since https://github.com/caiogondim/logdown.js/commit/65bf056ae46950f1fa11eec337d00a9f7322201b

[2018-01-08 18:46] caiogondim commented on #103
The behavior was changed to mimic [debuglog](https://nodejs.org/docs/latest/api/util.html#util_util_debuglog_section) which is the NodeJS debugger utility. debug.js mimics it.

As a pattern, we usually set the env before a script, e.g.: https://github.com/reactjs/redux/blob/master/package.json#L26

[2018-01-14 21:07] bennyn commented on #103
@caiogondim & @SleepWalker Thanks for clarifying how logging on Node.js with logdown works. I got it running now. 😃

I am using [cross-env](https://github.com/kentcdodds/cross-env) to set environment variables in my Node scripts. Here is the script definition from my `package.json` file:

[code]

And here is some demo code (for reference):

[code]

Closing this issue now. 🎉

[2018-01-14 21:07] #103 closed

[2018-01-16 22:48] #38 closed

[2018-01-25 14:55] caiogondim commented on #105
This was done already (and looks awesome BTW).

[2018-01-25 14:55] #105 closed

[2018-02-09 00:43] bennyn commented on #103
Just for the record...

If you want to **enable logging in the browser**, you have to do the following:

[code]

[2018-03-13 13:59] bennyn opened #142 "Add timestamps to log messages"
In Chrome you can use "[Show timestamps](https://codereview.chromium.org/185713007)" to see timestamps next to your log messages. Unfortunately, this does not work in Node.js. Therefore we should add an option to automatically print timestamps together with the log message.

**Proposal**

[code]

**Proposed Output**

[2018-03-13 14:19] bennyn opened #143 "Emojis don't render properly on all terminals"
Emojis cannot be rendered on every terminal. This causes the issue that log messages will look strange and don't have a common alignment.

You can see the issue by running my demo code in different terminals:

[code]

Because the output isn't consistent across platforms, we should replace emojis with standard ASCII symbols (which can be rendered on most of the systems).

I also noticed that `logge

[2018-03-18 11:17] bennyn commented on #143
Another good solution would be to make the emojis configurable, so that the end user can decide if they should be printed to the console or not.

**Proposal:**

[code]

WDYT @SleepWalker & @caiogondim ?

[2018-03-18 16:12] SleepWalker commented on #143
Configurable it's good! But is should be enabled by default to keep
backward compatibility.

[2018-03-19 19:24] caiogondim commented on #143
What would be better?
Completely disabling the icons or configuring them individually?
Or maybe both?

[code]

What do you think?

[2018-03-19 21:10] bennyn commented on #143
The easiest to implement (and already useful) config would be turning it on or off completely.

[2018-03-20 18:51] caiogondim commented on #143
I'm cool with that

[2018-03-23 21:35] tonyxiao opened #149 "Proper line number in console log"
Could we get logdown to wrap console.log with proper line number support? Here's a related stackoverflow post.

https://stackoverflow.com/questions/13815640/a-proper-wrapper-for-console-log-with-correct-line-number

[2018-03-23 22:47] tonyxiao opened #150 "React native support"
Logdown doesn't seem to work in react native by default. This is my workaround
[code]

Would be great if it's officially supported.

[2018-03-23 22:47] tonyxiao opened #151 "Printing loglevel as prefix"
Is it possible to use prefix log level before statements?

[2018-03-23 23:43] tonyxiao commented on #149
Looking further it seems that this isn't possible if we want dynamic transformations. Perhaps babel integration can help solve this?
https://github.com/tauren/babel-plugin-console-log

[2018-03-27 14:03] caiogondim commented on #151
Didn't get it.
Can you make an example?

[2018-03-28 16:51] tonyxiao commented on #151
As in making the log statement show up as `[DEBUG] my statement`.

[2018-03-28 16:51] tonyxiao commented on #151
Assuming it's debug level log

[2018-03-28 17:48] caiogondim commented on #151
Isn't it the current behavior?
https://github.com/caiogondim/logdown.js#browser-devtools-dark

Or you mean to show the method name?
[code]

[2018-03-28 21:39] tonyxiao commented on #151
<img width="921" alt="cloudapp annotation 2018-03-28 at 14 38 37 png" src="https://user-images.githubusercontent.com/696842/38057889-c0bf2c2e-3295-11e8-81b0-c714520d8ccf.png">
Hmm I was thinking of something like this - actually adding the word `[DEBUG]` as part of the log line (sometimes I get confused by color)

[2018-03-28 21:53] caiogondim commented on #151
Understood.

The idea is to keep core as simple as possible and move new features to a plugin system.
If you create a repo and give me commit access we can work on this together.
It's straightforward.

[2018-03-29 22:52] tonyxiao commented on #151
Ah got it. Ok thanks! I'll take a look first and ping you if anything comes up :)

[2018-03-30 15:40] caiogondim commented on #151
Just created a package that does that https://github.com/caiogondim/logdown-print-method-name.js
The idea is to leave logdown as simple as possible, and just add plugins on top of it.

Let me know if that solves your problem.

[2018-03-30 15:40] #151 closed

[2018-03-30 15:44] caiogondim commented on #142
I created this plugin as a proof of concept to extend logdown https://github.com/caiogondim/logdown-print-method-name.js
Guess it's better if we leave core as lean as possible and create a great plugin ecosystem around it.

What do you think?

[2018-03-30 16:12] bennyn commented on #142
It's great that logdown is extensible! I really like such architecture!

However, I think logging the time is a core functionality of a log library. There is a reason that Google implemented timestamps for `console.log` statements in Chrome.

As a compromise it would be great if we can supply a hook for the formatter, which makes it easier to modify texts before they get logged. Here is a [great e

[2018-03-30 17:37] caiogondim commented on #150
Thanks for the report.
I'll work on it.

[2018-03-30 22:18] tonyxiao commented on #151
Ah awesome, thanks!!

[2018-03-30 22:18] tonyxiao commented on #151
Will give it a try!

[2018-04-02 17:03] caiogondim commented on #142
I kinda agree that timestamp is core, but I like the idea of using a plugin more.
Using a plugin is straightforward and we don't add more code to the core.

[code]

That makes logdown slim, fast and easier to test.
We should delegate more to the community and make it easy to extend the library instead of trying to solve all problems ourselves.

[2018-04-02 17:36] bennyn commented on #142
Wouldn't you agree that having timestamps is more essential than having markdown support for log messages? If that's the case, then we should also outsource the markdown rendering into a plugin.

For me "logdown" is a very nice wrapper around "console.log", which extends the functionality of log statements quite much. If we now start putting every little function (like timestamps) in a plugin, the

[2018-04-03 15:03] caiogondim commented on #142
Not actually. The initial idea of the lib was to wrap `console` with a markdown parser and debug compatibility. But again, I'm open to adding a timestamp capability.

You don't have to import `tubo`. That's is just a wrapper for better pipeline pattern.
[code]

To create a "ecosystem" is not the goal I first mentioned, but rather keeping the library as simple as possible. And extensible.

But agai

[2018-04-18 14:24] caiogondim commented on #149
Don't think babel would help, since at the end of the day we will always have to call `console.log`.

[2018-04-18 14:25] caiogondim commented on #149
Closing this until we have a working proof of concept.

[2018-04-18 14:25] #149 closed

[2018-04-18 14:25] #101 closed

[2018-04-18 14:27] caiogondim commented on #94
Type definition here https://github.com/caiogondim/logdown.js/blob/master/index.d.ts

[2018-04-18 14:27] #94 closed

[2018-04-19 18:08] pdfowler commented on #87
I love this library for our logging, but the lack of a trace method is something I really miss from libraries I've used in the past.

### Expected Behavior

# `trace` is an additional level, more verbose than `debug`
# `trace` is disabled unless explicitly enabled

### Use Case

When building big complicated features, it's really great to have an additional level of logging below `debug`. In the e

[2018-07-31 15:28] bennyn opened #212 "Using "console.info" does not work with logdown on old browsers"
Older browsers (like Chrome 49) have support for `console.info`. Unfortunately logdown blocks them from using it and throws an error instead.

**Screenshot:**

![uncaught-type-error](https://user-images.githubusercontent.com/469989/43469625-e136d1ec-94e6-11e8-85a8-77a27cda7e4e.png)

**How to reproduce:**

1. Use Chrome 49
1. Open Logdown demo page: https://caiogondim.github.io/logdown.js
1. Execut

[2018-07-31 15:31] caiogondim commented on #212
We should just delegate to `console`.
That's a bug.

[2018-07-31 15:39] caiogondim commented on #212
Pushed a potential fix.

[2018-07-31 15:50] #212 closed

[2018-10-22 12:53] SleepWalker opened #217 "feat: Add setDefaultEnabled"
On some environments you want to have logs always to be enabled (e.g. in dev environment).

I propose to add method `logdown.setDefaultEnabled(boolean)` to allow overriding which value will be set for `state.isEnabeld` in case, when no `NODE_DEBUG` or `localStorage.debug` variable set.

I can submit PR, if the feature will be accepted :)

[2018-10-23 13:48] caiogondim commented on #217
I think we should keep the core as simple as possible.

You could achieve that feature through inheritance:
[code]

[2018-10-24 05:02] SleepWalker commented on #217
Ok. Currently, I've monkey patched Logdown._getEnableState. but the problem is, that the method begins from underscore, which means, that it is not supposed to be used externaly

[2018-10-24 05:02] #217 closed

[2019-03-21 15:05] AhsanAyaz opened #218 "`transports` is a ready-only property - TypeScript 2.3.4"
[code]

Unable to assign transports to logdown.transports as it is a constant according to the types. Just needs updating the types I believe.

[2019-04-05 22:07] j-walker23 commented on #218
This looks fixed in the package i downloaded.
Type file shows `  let transports: TransportFunction[];`

[2019-04-05 22:08] AhsanAyaz commented on #218
@j-walker23 that's accurate.
https://github.com/caiogondim/logdown.js/pull/219 Fixed this issue.

[2019-04-05 22:08] #218 closed

[2019-04-05 22:14] j-walker23 opened #223 "Using format characters in Transports"
When using a transport is there a way to get the msg to be formatted like the message is when it's logged to the console.

In the transport i will get something like
**msg** = `"[app:log] some message %s 207"`

[2019-05-21 20:13] AhsanAyaz opened #224 "Karma + Jasmine Tests Failing for logdown (Angular)"
I was able to successfully integrate logdown to the app and it works brilliantly. Thanks to the `index.d.ts`.
However, now all of my tests are failing and saying:
[code]
I spent some time trying to modify the index.d.ts to see if things could work, but whatever I did result in some other error.
Any idea what may be wrong?

[2019-08-23 17:19] OzairP opened #225 "Missing methods on IE when "Disable Script Debugging" is enabled"
On IE (tested on 11 bug same behavior reported on 8 & 9) if the "Disable Script Debugging" setting is enabled IE only provides `console.error` unless the console is open. This behavior is explains #29.

Attached is the execution of `alert(Object.keys(console).join(', '))`.
(`reactStack` and `reactStackEnd` are side effects of React but is not relevant)
![IE11](https://static.ozairpatel.com/2019-gm

[2019-08-23 17:37] OzairP commented on #225
You can find an explanation of this behavior in this blog post, https://www.beyondjava.net/console-log-surprises-with-internet-explorer-11-and-edge.

This solution worked for me, https://stackoverflow.com/questions/7742781/why-does-javascript-only-work-after-opening-developer-tools-in-ie-once

[2019-08-29 20:19] OzairP commented on #225
I have held back on a PR since I am not sure if @caiogondim wants polyfills essentially bundled in the library.

CoreJS, which are the standard polyfills Babel uses, had console polyfills but they were removed for some reason. So users using this package with CoreJS will encounter this error. I've opened an issue for this https://github.com/zloirock/core-js/issues/633.

Solutions
1. Bundle console

[2020-02-09 13:47] bennyn opened #227 "Specify log level with Node environment variable"
With `NODE_DEBUG` it's possible to specify logger names which should be active. Is there also a setting to specify the log level?

For example, I would like to see only logs from "foo" which have log level "warning" or "error" but no "debug", "info" and/or "log".

I would like to set something like:

[code]

[2020-02-24 11:39] rNoz commented on #227
This is a really important feature.

[2020-03-02 19:10] caiogondim commented on #227
That's indeed a good feature to have.
Are those values enough?:
- log (should console info as well)
- warn
-error

[2020-03-02 20:19] bennyn commented on #227
I suggest to use [the 5 default levels](https://github.com/caiogondim/logdown.js/blob/v3.3.0/src/node.js#L10) from Logdown which are:

1. debug
1. log
1. info
1. warn
1. error

When setting the log level to "error", then you will only get error reports. If you set the level to "warn", then you will get warnings and errors. When setting it to "info", you will get infos, warnings and errors. So the

[2020-03-02 22:04] caiogondim commented on #227
I thought `log` and `info` meant the same thing in modern implementations since it behaves the same in Chrome.
But it's on the [spec](https://console.spec.whatwg.org/#logging) so I say we go with what @bennyn is proposing.

[2020-03-02 22:06] caiogondim commented on #227
Also, we need an env var for the browser as we do for `window.localStorage.debug`.

[2020-03-02 23:30] bennyn commented on #227
How about `window.localStorage.debugLevel`?

[2020-03-03 22:46] caiogondim opened #228 "Thoughts abbout v4"
Let's discuss here about possible features for a v4.

### Interceptors
Implement the interceptor pattern so the lib is more extensible.

[code]

### Deprecate `transports`
We could use `interceptors` which is a more generic API.

### TypeScript
I'm now on board of the TS hype train.

### Drop IE11 support
It's finally time.

[2020-03-04 16:10] caiogondim commented on #227
To clarify, if I set `NODE_DEBUG_LEVEL` as `debug` I would get:
- debug
- log
- info
- warn
- error

If I set `NODE_DEBUG_LEVEL` as `warn` I would get
- warn
- error

Is that how you see it?

[2020-03-04 16:14] bennyn commented on #227
Yes, exactly! 👍

[2020-03-06 04:17] matthewoates opened #229 "Error when logging empty string"
[code]

[2020-03-06 04:18] matthewoates commented on #229
[code]

[2020-03-06 15:43] caiogondim commented on #229
I can reproduce it.
Working on a fix.

[2020-03-06 15:55] #229 closed

[2020-03-06 15:57] caiogondim commented on #229
New version published https://www.npmjs.com/package/logdown

[2020-07-15 10:37] jcheenatcode commented on #228
This library is really concise & does its work very, so I though I'll share my thoughts I had for this topic,

- #227 could be a good fit for v4
- instead of dropping IE11 support altogether, could we fall back to just plain old console logs or something?

Will be willing to contribute, if needed.

Thanks

[2020-10-22 17:39] bennycode opened #230 "Print logger prefix/name as second value"
I have checked logdown's code and it seems like `Logdown.prototype._prepareOutput` is generating the output message. I have created a plugin to add a timestamp before my log messages but `_prepareOutput` causes the logger prefix to be in the first place. That's why all my log statements look like this:

Is there any chance to have the logger name as second value in the log message? I want to get a

[2020-12-07 09:16] ngmiduc opened #231 "Environment variables inside React App"
Hi,

is there a way to include the NODE_DEBUG environment inside a React App?
As React filters all env variables our that aren't prefixed with `REACT_APP_<name>`.

best Minh

[2020-12-09 06:29] SleepWalker commented on #231
Hello, @ngmiduc

If you'll provide some `*_DEBUG` env variable for you react app during build, this will hardcode that value in your code and it won't be possible to change it later at runtime. Do you really want this?

In any case, you can pass `REACT_APP_DEBUG` during build and then somewhere before running your app just mirror this value in localstorage:

[code]

[2020-12-09 11:40] ngmiduc commented on #231
Hi

I didn't mean to hard code it into build. I want to run it in development and I think the env variable NODEDEBUG gets filtered out by the react app since it only allows prefixed eng variables to be accessible in the app.

So when I initialize the logdown in some file in the app, it can not access the env Variable to check if the console logs are enabled or disabled.

I created now a separated

[2021-04-03 10:08] Shooshte opened #232 "Support for removing color coding"
When writing log files into a `.log` file escape characters get added before each line. This bloats the log file considerably, and makes it a bit harder to read.

My logger config:
[code]

Usage example and output:
[code]

[code]

I believe this is due to whitespace and colour coding being added to the passed string (inside the console there is whitespace and the text colour is green).
Can support

[2021-04-03 13:45] SleepWalker commented on #232
According to the source code `plaintext` was implemented to add support for logging to files, but for some reason this option disable only part of colors leaving the another part on:

https://github.com/caiogondim/logdown.js/blob/master/src/node.js#L88-L109

I think it was made mistakingly and `_getDecoratedPrefix()` should drop emojis from output too.